:root {
  --font-color: rgba(0, 0, 0, 0.87);
  --hover-bg: var(--color-gray-200);

  --color-primary: #ff9800;
  --color-primary-hover: #e68900;

  --color-white: #fff;

  --color-gray-100: #f0f0f0;
  --color-gray-200: #e1e1e1;
  --color-gray-400: #979797;
  --color-gray-500: #5b5d62;

  --color-green-300: #edf0e6;
  --color-green-500: #829b50;

  --color-blue-300: #e1e6ef;
  --color-blue-500: #315692;

  --color-red-300: #f5e4e1;
  --color-red-500: #ba452d;

  --color-purple-300: #e7e2e9;
  --color-purple-500: #5d3678;

  --z-index-nav: 5;

  --padding-x: 1.5em;

  --height-nav: 80px;
  --width-container: 1280px;
  --width-product-nav: 360px;
}

.dark {
  --color-white: rgba(0, 0, 0, 0.68);
  --color-gray-500: rgb(240, 240, 240);
  --color-gray-400: rgb(220, 220, 220);
  --color-gray-200: #979797;
  --color-gray-100: #5b5d62;

  --font-color: rgb(255, 255, 255);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-gray-100);
  color: var(--font-color);
}

.bg--white {
  background-color: var(--color-white);
}

table {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  color: var(--color-gray-500);
}

h4 {
  font-size: 1.2em;
}

h5 {
  color: var(--color-gray-400);
  font-size: 0.8em;
  text-transform: uppercase;
}
